@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw; 
    height: 100vh;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background: #F3E5D7;
    padding: 40px 32px;
    line-height: 25px;
   
}

#photo {
    margin: 0;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.background {
    background-color: white;
    border-radius: 24px;
    max-width: 740px;
}


#bigtitle {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 32px;
    color: #312E2C;
}

.title { /*an margin ak */
    margin-top: 40px;
    margin-bottom: 32px;
    color: #5F564D;
}

.preparation {
    padding-top:  32 px;
    background-color: #FFF7FB;
    border-radius: 12px
}

.preparation h3 {
    color: #7A284E;
    margin: 20px;
    padding: 10px;
    
}

.preparation ul {
    margin-left:40px;
}

.preparation ul li p {
    color: #5F564D;
    line-height: 30px;
    
}

.preparation ul li {
    color: #7A284E;
    margin: 10px;
}

.ingredients {
    margin-top: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid  #E3DDD7;
}

.ingredients h2 {
    color: #854632;
    margin-bottom: 25px;
}

.ingredients ul li p{
    color: #5F564D;
}

.ingredients ul {
    margin-left: 30px;
    margin-bottom: 25px;
}

.ingredients ul li {
    color: #854632;
}

.instructions {
    border-bottom: 1px solid  #E3DDD7;
}

.instructions h2 {
    color: #854632;
    margin-bottom: 25px;
}